.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.desc-text {
    color: #767990;
}

.d-t-heading-title {
    font-size: 29px;
    font-weight: 700;
}

.d-t-head-icon {
    vertical-align: super;
}

.table-gray-blue {
    color: #3F9BFF;
}

.cursor-pointer {
    cursor: pointer;
}

.reports-dropdown span {
    font-weight: 500;
}

.reports-dropdown button {
    padding: 10px;
    border-radius: 0px;
}

.reports-dropdown .table-dropdown-btn:focus,
.reports-dropdown .show>.btn-primary.dropdown-toggle:focus,
.reports-dropdown .show>.btn-primary.dropdown-toggle {
    background-color: #EFEEF2 !important;
}

.usuario-dot {
    width: 10px;
    height: 10px;
    background-color: #D5D7DF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.usuario-dot.active {
    background-color: #3F9BFF;
}

.usuario-active {
    cursor: pointer;
}


.range-dropdown-btn {
    padding: 10px 15px;
    border: 1px solid #FF385C;
    background-color: #FFEAF0;
    border-radius: 4px;
    color: #FF385C;
}

.user-status-bottom {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.range-dropdown-btn:hover {
    background-color: #FF385C;
    border-color: #FF385C;
}

.table-dropdown-btn.range-dropdown-btn:hover,
.table-dropdown-btn.range-dropdown-btn:focus,
.show>.btn-primary.dropdown-toggle.range-dropdown-btn:focus,
.show>.btn-primary.dropdown-toggle.range-dropdown-btn,
.btn-primary.dropdown-toggle.range-dropdown-btn:focus:active {
    background-color: #FF385C;
    color: #fff;
    border: 1px solid #FF385C;
}

.range-dropdown-btn:focus {
    background-color: #FF385C;
    border-color: #FF385C;
}


.modal-cust-main-cmn .modal-content {
    border: none;
    padding: 0 60px;
}


.modal-cust-main-cmn .modal-title span {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 17px;
    display: inline-block;
}

.modal-cust-main-cmn .modal-title p {
    font-size: 14px;
}

.modal-cust-main-cmn .modal-header {
    justify-content: center;
    padding-top: 50px;
}

.modal-cust-main-cmn .btn-close {
    margin-left: 0;
    position: absolute;
    right: 20px;
    top: 25px;
    opacity: 1;
}

.form-control-select .css-1s2u09g-control {
    background-color: #FCFDFE;
    border: 1px solid #EFEEF2;
    border-radius: 6px;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    color: #444552;
    font-family: "Lato", sans-serif;
    box-shadow: none !important;
}

.form-control-select .css-1hb7zxy-IndicatorsContainer {
    height: 45px;
}

.form-control-select .css-1s2u09g-control:hover {
    box-shadow: none !important;
    border-color: #EFEEF2;
}

.form-control-select .css-1pahdxg-control:hover {
    box-shadow: none !important;
    border-color: #EFEEF2;
}

.form-control-select .css-1okebmr-indicatorSeparator {
    background-color: transparent;
}

.ready-modal-cont svg {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.ready-modal-cont span {
    font-size: 24px;
    font-weight: 700;
}

.modal-cust-main-cmn a.btn-comn-class:hover {
    color: #fff;
}

.password-suggest span {
    font-size: 16px;
    font-weight: 500;
}

.password-suggest li:not(:last-child) {
    margin-bottom: 15px;
}

.password-suggest span.ck-green {
    color: #00A699;
}

.password-suggest span.ck-red {
    color: #FF385C;
}

.appearance-auto,
.date-of-birth-select .login-comn-input {
    appearance: auto;
}

.latest-posts-col {
    width: 12.50%;
}

.latest-posts-cl {
    cursor: pointer;
}

.pagination-title {
    font-weight: 600;
    white-space: nowrap;
}

.custom-paginations select {
    width: 75px;
}

.inner-dropdown-wrap {
    padding: 20px;
    width: max-content;
    position: absolute;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 15%);
    background-color: #fff;
    border-radius: 10px;
    display: none;
}

.inner-dropdown-wrap.active-user-info {
    display: block;
}

.report-box .modal-slide-main {
    height: 100%;
    border-radius: 10px;
}

.conduct-desc {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 63%;
    margin: auto;
}

.conduct-desc p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.conduct-image .conduct-sl-image {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    object-fit: cover;
}

.post-viewer-couter {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
}

.cond-chat-pf {
    background-color: #007AFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
}

.conduct-chat-f-dl {
    border-bottom: 1px solid #D5D7DF;
}

.conduct-chat-f-dl-inner li:not(:last-child) {
    margin-bottom: 20px;
}

//.report-prayer-open-part .modal-body {
//  verflow-y: hidden;
//}

.conduct-chat-module {
    height: calc(100% - 105px);
    padding: 0 20px;
}

.conduct-chat-module .reports-dropdown .table-dropdown-btn {
    font-size: 20px;
}

.conduct-chat-module .reports-dropdown .table-dropdown-btn:focus {
    background-color: transparent !important;
}

.conduct-chat-f-dl-inner {
    height: 400px;
    overflow-x: auto;
}

.chat-send-input input {
    border-radius: 16px;
    height: 55px;
}

.comment-send-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #FF385C;
    border-radius: 50px;
    border: none;
}

.chat-send-input {
    border-top: 1px solid #D5D7DF;
}

.fw-6 {
    font-weight: 600;
}


//==================== Custom radio button =============================//
.cust-d-selector {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid #D5D7DF;
    max-width: max-content;
    margin-left: auto;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
}

.selecotr-item {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #D5D7DF;
}

.selecotr-item:last-child {
    border-right: none;
}

.selector-item_radio {
    appearance: none;
    display: none;
}

.selector-item_label {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 600;
    transition-duration: .5s;
    transition-property: transform, color, box-shadow;
    transform: none;
    padding: 9px 18px;
    color: #555768;
    cursor: pointer;
}

.selector-item_radio:checked+.selector-item_label {
    background-color: #EFEEF2;
}

.date-range-cont {
    position: absolute;
    right: 15px;
    display: none;
    z-index: 2;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 15%);
    border-radius: 10px;
    background-color: #fff;
}

.date-range-cont.active {
    display: block;
}

.custom-date-text {
    font-weight: 500;
    cursor: pointer;
}

.date-range-cont button {
    font-size: 14px;
}

.login-comn-input-white.searchbar.search-bar-small {
    width: 324px;
}

.profile-hdr-drop .profile-pic img {
    border-radius: 100px;
    width: 32px;
}

.profile-div img {
    border-radius: 100px;
}

@media (max-width: 1199px) {
    .modal-cust-main-cmn .modal-content {
        padding: 0 0px;
    }

    .latest-posts-col {
        width: 16.66%;
    }
}

@media (max-width: 1199px) {
    .conduct-desc p {
        font-size: 15px;
    }

    .prayer-images-div img {
        height: 100%;
    }
}

@media (max-width:767px) {
    .notification-table.bx-white-main .MuiPaper-root tbody td {
        padding: 15px 30px
    }

    .new-user-btn {
        margin-bottom: 10px;
        width: 100%;
    }

    .password-suggest span {
        font-size: 14px;
    }

    .latest-posts-col {
        width: 33.33%;
    }

    .conduct-desc {
        width: 75%;
    }

    .conduct-desc p {
        font-size: 15px;
    }

    .conduct-chat-module {
        padding: 0px 0px;
    }

    .report-prayer-open-part .modal-body {
        padding: 0px;
    }

    .report-prayer-open-part .report-box {
        height: 100%;
    }

    .conduct-image .conduct-sl-image {
        border-radius: 10px 10px 0px 0px;
        object-fit: contain;
        height: auto;
    }

    .cond-chat-pf {
        height: 45px;
    }

    .selector-item_label,
    .custom-date-text {
        font-size: 12px;
    }

    .selector-item_label {
        padding: 8px 15px;
    }

    .cust-d-selector {
        white-space: nowrap;
        justify-content: start;
        overflow-x: auto;
    }

    .user-status-bottom {
        position: unset;
        margin-left: 10px;
        padding-bottom: 10px;
    }

    .login-comn-input-white.searchbar.search-bar-small {
        width: 100%;
    }

    .report-items-prayer {
        padding: 15px 0px;
    }

    .main-report-div .btn-comn-class-black-bdr,
    .main-report-div .btn-comn-class {
        font-size: 16px;
    }
}

// .rdrStartEdge,
// .rdrInRange,
// .rdrEndEdge {
//     color: rgb(255, 56, 92, 0.8) !important;
// }